name: GitHub Pages

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pages: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: GitHub Pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set Up
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: lts/*

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Pages
        uses: actions/configure-pages@v5

      - name: Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './dist'

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
